[submodule "vendor/github/trendrr/java-oss-lib"]
	path = vendor/github/trendrr/java-oss-lib
	url = git@github.com:trendrr/java-oss-lib.git
[submodule "vendor/github/gregspurrier/TrendrrNSQClient"]
	path = vendor/github/gregspurrier/TrendrrNSQClient
	url = git@github.com:gregspurrier/TrendrrNSQClient.git
